body {
	margin: 0;
	padding: 0;
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
}
p {
	margin: 0;
	padding: 0;
}

button {
	outline: none;
}

a {
	text-decoration: none;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-weight: none;
}

.main-text {
	font-size: 16px;
}

.start-page {
	width: 100%;
	height: 820px;
}

.start-page img {
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.start-page .header {
	height: 100px;
	border-bottom: 1px solid white;
}

.start-page .logo {
	position: absolute;
	top: 40px;
	left: 210px;
}

.start-page .logo img {
	height: 20px;
	width: 40px;
}

.start-page .logo p {
	padding-left: 45px;
	padding-top: 2px;
	color: white;
	font-size: 12px;
}

.header ul {
	list-style: none;
	margin: 0;
	padding-left: 760px;
}

.header ul li {
	float: left;
	padding-top: 40px;
	padding-right: 25px;
}

.header ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	padding-bottom: 7px;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.header ul li a:hover {
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	transition-duration: 0.7s;
}

.header ul li a:active {
	color: rgba(0, 0, 0, 0.5);;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	transition-duration: 0.1s;
}

.header input[type='text'] {
	position: absolute;
	display: inline-block;
	top: 30px;
	width: 125px;
	height: 35px;
	border-left: 15px solid white;
	border-right: 23px solid white;
	border-top: none;
	border-radius: 35px;
	outline: none;
}

.header form img {
	position: absolute;
	top: 40px;
	right: 47px;
	width: 15px;
	height: 15px;
	z-index: 1;
}

.start-page .content p {
	position: absolute;	
	left: 170px;
	top: 325px;
	width: 550px;
	text-align: right;
	font-size: 50px;
}

.content button {
	position: absolute;
	top: 470px;
	left: 500px;
	display: inline-block;
	background-color: #8824cd;
	width: 215px;
	height: 55px;
	border-radius: 30px;
	border: none;
}

.content button a {
	color: white;
	font-size: 18px;
}

.content button:hover {
	box-shadow: 2px 2px 3px -1px white;
}

.content button:active {
	box-shadow: none;
	opacity: 0.9;
}

.second-section {
	height: 450px;
	background-color: #2e3b4e;
	padding-bottom: 20px;
}

.second-section ul {
	list-style: none;
	padding: 0;
	padding-left: 240px;
	padding-top: 120px;
	margin: 0;
}

.second-section li {
	display: inline-block;
	float: left;
	height: 135px;
	width: 400px;
	padding-right: 20px;
}

.second-section li .title-text {
	padding-bottom: 20px;
}

.third-section {
	height: 520px;
	width: 100%;
	overflow: hidden;
	background: url(img/trird-section.jpg) no-repeat 100% 100%;

	text-align: center;
}

.third-section .overlay {
	background: rgba(160, 30, 40, 0.5);
	width: 100%;
	height: 100%;
}

.third-section .section-text {
	display: block;
	width: 600px;
	vertical-align: middle;
	text-align: center;
	padding-top: 150px;
	padding-left: 370px;
}

.third-section .main-text {
	padding: 20px 30px 0 30px;
}

.third-section .third-section-button {
	width: 250px;
	height: 45px;
	margin-top: 30px;
	border: none;
	border-radius: 30px;
}

.third-section button:hover {
	box-shadow: 4px 4px 3px grey;
}

.third-section button:active {
	box-shadow: none;
	opacity: 0.9;
}

.third-section .third-section-button a {
	font-weight: bold;
	color: rgb(194, 80, 105);
	padding: 10px 30px;
}

.fourth-section {
	width: 100%;
	height: 470px;
}

.fourth-section img {
	position: absolute;
	text-align: left;
	width: 570px;
	height: 470px;
	overflow: hidden;
	z-index: -1;
}

.fourth-section span {
	display: block;
	width: 680px;
	margin-left: 660px;
	padding-top: 100px;
	color: #6b7a88;
}

.title-grey {
	text-transform: uppercase;
	font-seze: 20px;
	font-weight: bold;
}

.description-font {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 110px;
}

.comment-font {
	font-size: 16px;
	padding-right: 110px;
}

.fifth-section {
	width: 100%;
	height: 480px;
	background: url(img/fifth-section.png) no-repeat 100% 100%;
	overflow: hidden;
}

.fifth-section .overlay {
	background: rgba(136, 36, 205, 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
}

.fifth-section .section-text {
	width: 600px;
	padding-top: 130px;
	padding-left: 370px;
}

.fifth-section p {
	padding: 20px;
}

.fifth-section .fifth-section-btn {
	width: 230px;
	height: 45px;
	margin-top: 20px;
	border: none;
	border-radius: 30px;
	background-color: rgb(136, 36, 205);
}

.fifth-section .fifth-section-btn a {
	font-weight: bold;
	color: white;
	padding: 10px 30px;
}

.fifth-section button:hover {
	box-shadow: 2px 2px 3px white;
}

.fifth-section button:active {
	box-shadow: none;
	opacity: 0.9;
}

.six-section {
	width: 100%;
	height: 600px;
	background: linear-gradient(0deg, rgba(30, 30, 30, 0.9), rgba(0, 0, 0, 0)), 
	            url(img/six-section.png) no-repeat 100% 100%;
	overflow: hidden;
}

.six-section .content-six {
	padding-left: 170px;
	padding-top: 300px;
}

.six-section .six-btn {
	width: 160px;
	height: 35px;
	border: 1px solid white;
	border-radius: 25px;
	background-color: transparent;
	margin-bottom: 30px;
}

.six-section .six-btn a {
	padding: 10px 20px;
	color: white;
}

.six-section button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: #e7526b;
}

.six-section button:active {
	background-color: rgba(255, 255, 255, 0.6);
}

.six-section p {
	display: inline-block;
	padding-top: 40px;
	padding-left: 70px;
}

.six-section .img-six {
	margin-top: -40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.six-section img {
	margin-left: -30px;
}

.seven-section {
	height: 470px;
	width: 100%;
}

.seven-section span {
	display: block;
	width: 680px;
	padding-top: 100px;
	padding-left: 170px;
	color: #6b7a88;
}

.seven-section img {
	position: absolute;
	margin-top: -326px;
	right: 0;
	width: 570px;
	height: 470px;
	overflow: hidden;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: #e7526b;
}

.footer p {
	padding-left: 150px;
	padding-top: 40px;
	font-size: 18px;
}

.footer div {
	display: inline-block;
	height: 45px;
	width: 45px;
	margin-right: 10px;
	margin-top: -30px;
	border-radius: 10px;

	background: url(img/sprite.png) no-repeat;
	background-size: auto 75px;
}

.footer .social {
	width: 100%;
	margin-left: 1100px;
}

.footer .social-vk {
	background-position: 5% 50%;
}

.footer .social-inst {
	background-position: 50% 50%;
}

.footer .social-fb {
	background-position: 95% 50%;
}