body {
	margin: 0;
	padding: 0;
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
}
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-weight: none;
}

.main-text {
	font-size: 16px;
}

.start-page {
	width: 100%;
	height: 820px;
}

.start-page img {
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.start-page .header {
	height: 100px;
	border-bottom: 1px solid white;
}

.start-page .logo {
	position: absolute;
	top: 40px;
	left: 210px;
}

.start-page .logo img {
	height: 20px;
	width: 40px;
}

.start-page .logo p {
	padding-left: 45px;
	padding-top: 2px;
	color: white;
	font-size: 12px;
}

.header ul {
	list-style: none;
	margin: 0;
	padding-left: 760px;
}

.header ul li {
	float: left;
	padding-top: 40px;
	padding-right: 25px;
}

.header ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	padding-bottom: 7px;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.header ul li a:hover {
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	transition-duration: 0.7s;
}

.header ul li a:active {
	color: rgba(0, 0, 0, 0.5);;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	transition-duration: 0.1s;
}

.header input[type='text'] {
	position: absolute;
	display: inline-block;
	top: 30px;
	width: 125px;
	height: 35px;
	border-left: 15px solid white;
	border-right: 23px solid white;
	border-top: none;
	border-radius: 35px;
	outline: none;
}

.header form img {
	position: absolute;
	top: 40px;
	right: 47px;
	width: 15px;
	height: 15px;
	z-index: 1;
}

.start-page .content p {
	position: absolute;	
	left: 170px;
	top: 325px;
	width: 550px;
	text-align: right;
	font-size: 50px;
}

.content button {
	position: absolute;
	top: 470px;
	left: 500px;
	display: inline-block;
	background-color: #8824cd;
	width: 215px;
	height: 55px;
	border-radius: 30px;
	border: none;
}

.content button a {
	color: white;
	font-size: 18px;
}

.second-section {
	height: 450px;
	background-color: #2e3b4e;
	padding-bottom: 20px;
}

.second-section ul {
	list-style: none;
	padding: 0;
	padding-left: 240px;
	padding-top: 120px;
	margin: 0;
}

.second-section li {
	display: inline-block;
	float: left;
	height: 135px;
	width: 400px;
	padding-right: 20px;
}

.second-section li .title-text {
	padding-bottom: 20px;
}

.third-section {
	height: 520px;
	width: 100%;
	overflow: hidden;
	background: url(img/trird-section.jpg) no-repeat 100% 100%;

	text-align: center;
}

.third-section .overlay {
	background: rgba(160, 30, 40, 0.5);
	width: 100%;
	height: 100%;
}

.third-section .section-text {
	display: block;
	width: 600px;
	vertical-align: middle;
	text-align: center;
	padding-top: 150px;
	padding-left: 370px;
}

.third-section .main-text {
	padding: 20px 30px 0 30px;
}

.third-section .third-section-button {
	width: 250px;
	height: 45px;
	margin-top: 30px;
	border: none;
	border-radius: 30px;
}

.third-section .third-section-button a {
	font-weight: bold;
	color: rgb(194, 80, 105);
	padding: 10px 30px;
}

.fourth-section {
	width: 100%;
	height: 480px;
}

.fourth-section img {
	position: absolute;
	text-align: left;
	width: 570px;
	height: 470px;
	overflow: hidden;
	z-index: -1;
}

.fourth-section span {
	display: block;
	width: 680px;
	margin-left: 660px;
	padding-top: 100px;
	color: #6b7a88;
}

.fourth-section .title-grey {
	text-transform: uppercase;
	font-seze: 20px;
	font-weight: bold;
}

.fourth-section .description-font {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 110px;
}

.fourth-section .comment-font {
	font-size: 16px;
	padding-right: 110px;
}
