body {
	margin: 0;
	padding: 0;
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.start-page img{
	width: 100%;
	position: absolute;
	z-index: -1;
}

.start-page .header {
	height: 100px;
	border-bottom: 1px solid white;
}

.start-page .logo {
	position: absolute;
	top: 40px;
	left: 210px;
}

.start-page .logo img {
	height: 20px;
	width: 40px;
}

.start-page .logo p {
	padding-left: 45px;
	color: white;
	font-size: 12px;
}

.header ul {
	list-style: none;
	margin: 0;
	padding-left: 760px;
}

.header ul li {
	float: left;
	padding-top: 40px;
	padding-right: 25px;
}

.header ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	padding-bottom: 7px;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.header ul li a:hover {
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	transition-duration: 0.7s;
}

.header ul li a:active {
	color: rgba(0, 0, 0, 0.5);;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	transition-duration: 0.1s;
}

.header input[type='text'] {
	position: absolute;
	display: inline-block;
	top: 30px;
	width: 125px;
	height: 35px;
	border-left: 15px solid white;
	border-right: 23px solid white;
	border-top: none;
	border-radius: 35px;
	outline: none;
}

.header form img {
	position: absolute;
	top: 40px;
	right: 47px;
	width: 15px;
	height: 15px;
	z-index: 1;
}